body{
    height: 100vh;
    background-image: url('flat-mountains.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

td{
    width:80px;
    height:80px;
    border:solid 2px black;
    background-color: white;
}

h1{
    font-size: 40px;
    text-align: center;
    color:white;
}

table{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-spacing: 7px;
}

#winner{
    margin-top:10px;
    color:white;
    font-weight: bold;
}

button{
    height:3em;
    width: 8%;
    color: white;
    background-color: rgb(0, 199, 0);
    border:none;
    border-radius: 6px;
    margin-top: 10px;
}