body{
    background-color: #f5f5f5;
    color:#333;
    font-family: Arial, sans-serif;
}

img{
    height:75%;
    width:75%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.navbar{
    background-color: #2c3e50;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}
span{
    font-size: 24px;
}

.sidebar{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin:15px;
    padding-top:10px;
}

.sidebar a{
    color: #3498db;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px;
}
.sidebar a:hover{
    color: #2980b9;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
    width:25%;
}
.card:hover{
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.04);
}

main{
    display: flex;
}
h5{
    font-size:20px;
}
h1{
    padding-left: 10px;
}